#leftContainer 
{
	text-align: left;
	margin: 10px;
}

.title
{
	color: #0079ad;
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
}

.titleSmall
{
	color: #0079ad;
	font-size: 14px;
	font-weight: bold;
}

#scenarioContainer
{

}

#scenarioDescribe
{


}

#infoContainer
{
	margin-top: -25px;
}

#infoDescibe
{

}

.describeText{
	color: #808080;
	font-size: 13px;

	text-align: left;
}

hr{
	border-top: 1px solid #8c8b8b;
}

#shareBtn
{
	margin-left: 20px;
	margin-top: 1px;
}

.info
{
	margin-left: 0;
}