

.wrapper {
    margin-left:auto;
    margin-right:auto;
}

.button,
.button:hover,
.button:active,
.button:focus {
  margin: 12px;
  background: #e21936;
  opacity: 0.8;
  border: none;
  min-width: 100px;
}

.buttonNav {
  text-align: right;
}



.narrativeContainer {
  position: relative;
  float: left;
  text-align: center;
  width: 100%;
  height: 550px;
  display: table-cell;
  vertical-align: bottom;
}

.messagesContainer {
  overflow-y: scroll;
  max-height: 550px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.message {
  height: auto;
  width: auto; 
  max-width: 50%;
  clear: both;
  text-align: left;
  margin-bottom: 20px
}

#messageLeft {
  float:left;
  margin-left: 50px;
}

#messageRight {
  float:right;
  margin-right: 50px
}

.messageContent {
  padding: 10px 12px 2px 12px;
   border-radius: 5px;
}

#messageContentLeft
{
  background: #FECCCC;
}

#messageContentRight
{
  background: #CCE0FE;
}

.messageImg {
  position: absolute;
  height: 35px;
  width: 35px;
}

#messageImgRight
{
  right: 0;
  content: url("/public/assets/misc/user1.png");

}

#messageImgLeft
{
  left: 0;
  content: url("/public/assets/dominos/logo_dominos.png");

}

.uploadContainer {
  margin-top: 15px;
  text-align: center;
  height:100;
}

::-webkit-scrollbar { 
    display: none; 
}