

.wrapper {
    margin-left:auto;
    margin-right:auto;
}

.next {
  margin:10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.messageLeft {
  float:left;
  clear:left;
  height: 10%;
  padding: 0;
  width: 60%; 
  background: #FECCCC;
}


.messageRight {
  float:right;
  clear:right;
  height: 10%;
  padding: 0;
  width: 60%; 
  background: #CCE0FE;
}
/*
.headerContainer {

  font-size: 60px;
  text-align: center;
}*/

.narrativeContainer {
  overflow-y: auto;
  position: relative;
  vertical-align: bottom;
  float: left;
  text-align: center;
  width: 100%;
  height: 580px;
}
/*
.messagesContainer {

  overflow-y: auto;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #999;
  float: left;
  padding: 0;
  text-align: center;
  width: 50%;
  height: 100%;

}
*/

.uploadContainer {
  text-align: center;
}