.header
{
	height:auto;
	padding: 0;
	text-align: left;

}
#topHeader
{
	clear:both;
	height: auto;
	color: #FFFFFF;
	font-weight: normal;
	background: #222222;
	height:35px;
}

.headerTxt
{
	display: inline;
	margin-bottom: 10px;
}
.carrot
{
		font-size:20px;
	color: var(--secondary);
	margine-right:2px;
	display: inline;
	margin-bottom: 20px;
}

#bottomHeader
{
	font-family: "DINPro";
	font-size: medium;
	clear: both;
	height: 37px;
	margin-left: 8px;
	margin-top: 3px;

}

.pageHeader
{
	font-size: 17px;
	margin: 0px;
}

#app_logo{
	position: absolute;
	height: 35px;
	top: 0px;
	left: 0px;
}

#headerButtons
{
	float: right;
	text-align: right;
}

.headerButton
{
	height: 17px;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 2px;
	cursor: pointer;
}

#app_title
{
	font-size: 21px;
	display: inline-block;
	vertical-align: center;
	position: absolute;
	margin: 2px 0 0 45px;
}

#brand_logo
{
	margin: 2px;
	margin-bottom: 5px;
}